doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(href="css/font-awesome.min.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')

    script(src="js/jquery.js")
    script(src="js/jquery.easing.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/menu-scroll.js")
    script(src="js/nav-scroll.js")
    script(src="js/main.js")
  body
    .header
        .opacity
           .row
            .container-fluid
                .col-md-3
                    img.menu.img-responsive(src="../problema/image/user-r.png")
                .col-md-9
                    ul.menu.list-unstyled.list-inline.pull-right
                        li
                            a.txt-blue ¿Qué me ofrece?
                        li
                            a.txt-blue ¿Cómo funciona?
                        li
                            a.txt-blue ¿Por qué usarlo?
                        li
                            a.txt-blue Contáctanos
            .row
                .container
                    .col-md-3
                    .col-md-6
                        h1.descrip.pd-40.text-white.text-center Obtén videos de personas reales utilizando tu sitio web, en 1 hora 
                    .col-md-3           
            .prueba
                .row
                    .container
                        .col-md-3
                        .col-md-6
                            .row
                                .col-md-6
                                    h3.text-white.text-center PRUEBA GRATUITA
                                    h6.text-white.text-center Obtén un video gratis en 5 minutos
                                .col-md-6
                                    button.btn-1.text-white.text-center Pruebalo gratis
                        .col-md-3
    .servicios.container
        h1.color_celeste.text-center Nuestros Servicios
        .row
            .col-md-4.list-serv.text-center
                span.icon.glyphicon.glyphicon-film
                h4.title.text-center Pruébalo gratis
                p Obtén un primer screencast de un usuario navegando tu página
            .col-md-4.list-serv.text-center
                span.icon.glyphicon.glyphicon-time
                h4.title.text-center Compra el servicio completo
                p Obtén un primer screencast de un usuario navegando tu página
            .col-md-4.list-serv.text-center
                span.icon.glyphicon.glyphicon-duplicate
                h4.title.text-center Obtén el resultado en un día
                p Obtén un primer screencast de un usuario navegando tu página
    .row.text.center
        .container.text-center
            .col-md-6
            .col-md-6.text-center
                img.img-center.img-responsive(src="../problema/image/separador.png")
    .example
        .row
            .container
                .col-md-6
                    h1.color_celeste Ejemplo de  
                    img.img-responsive(src="../problema/image/logo-2.jpg")
                    p.color_plomo En este video te damos un ejemplo de un integrante de nuestro panel evalueando la experiencia de usa de
                    a mimediamanzana.com
                    p.color_plomo El objetivo de User Testing 360 es identificar situaciones confusas de los usuarios web y describir soluciones, que garanticen una experiencia de uso stisfactorio.
                    .row
                        .col-md-4
                        .col-md-4
                             img.text-center.img-responsive(src="../problema/image/flecha.png")
                        .col-md-4
                .col-md-6
                    .embed-responsive.embed-responsive-4by3
                        iframe(width='560', height='315', src='https://www.youtube.com/embed/u7MDfG9ZJTU', frameborder='0', allowfullscreen='')
    .example  
        .row
            .container
                .col-md-6
                        img.img-responsive(src="../problema/image/sec-2.jpg")
                .col-md-6
                    h2 Lo quiero ¿Qué hago?
                    h4.color_celeste Paso 1:Envíanos tu link
                    p Al darle click al boton de prueba. Coloca tu nombre y tu correo electrónico a donde enviaremos el video y el informe con el feedback.
                    h4.color_celeste Paso2:Describe a tu público objetivo
                    p Describe las acciones que quieres que evaluemos por ejemplo:
                        ul
                            li A primera vista de ¿Qué crees que trata la página?
                            li Busca el boton de inscribirte o comprar
                            li ¿Es fácil o dificl de leer los textos?
                    p Puedes hacer preguntas como las que te mostramos.
                    h4.color_celeste Paso3:Recibe un video y el feedback completo
                    P Recibe un combo de 7 videos y un informe detallado con las captaciones de usabilidad de tu producto.
    .example
        .row
            .container
                .col-md-6
                    h1.color_celeste Por qué usar
                    img.img-responsive(src="../problema/image/logo-2.jpg")
                    p.color_plomo En la era que nos encontramos, la web se ha convertido en el mejor sitio para llegar a millones de personas en segundos, pero ¿qué pasa si el producto digital que ofrece no es bueno o no se entiende? Pierdes esta enorme oportunidad. Con User Testing 360, puedes entender la experiencia de uso de tu página o producto digital y mejorarla para que satisfaga todas las necesidades de tus usuarios. Con User Testing360 podrás entender:
                        ul
                            li¿Cómo tu público objetivo verdaderamente usa tu producto?
                            li¿Qué se hace fácil o difícil al navegar en tu producto?
                            li¿Qué es lo que tu público quiere hacer y tal vez no obtiene o consigue?
                    a "User Testing 360"
                    p.color_plomo te ayudará a responder estas preguntas y muchas más. Es el toque final perfecto para tu página o producto digital.
                .col-md-6
                    img.img-responsive(src="../problema/image/banner.jpg")
    .prueba.blue
        .row
            .container
                .col-md-3
                .col-md-6
                    .row
                        .col-md-6
                            h3.text-white.text-center PRUEBA GRATUITA
                            h6.text-white.text-center Obtén un video gratis en 5 minutos
                        .col-md-6
                             button.btn-1.text-white.text-center Pruebalo gratis
                .col-md-3
    .footer
        .row
            .container-fluid
                .col-md-6
                    p.text-white Escríbenos a:
                    a experienciadeusuario.lab@gmail.com
                    p.text-white Telef:921493080
                .col-md-6
                    ul.list-unstyled.list-inline.pull-right
                        li
                            span.icon2.ion-social-facebook-outline
                        li
                            span.icon2.ion-social-twitter-outline
                    p.float.text-white.pull-right Copyright©2015-UserTesting360